* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 30px;
}

h1,
h2,
h3,
p,
label {
  color: var(--color-white);
}

button {
  cursor: pointer;
}

:root {
  --background: #1c0c3f;
  --color-green: #3bd42d;
  --color-blue-light: #25cbd3;
  --color-puple: #24124b;
  --color-black: #000000;
  --color-white: #ffffff;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
